<h1>Список моделей</h1>
<table *ngIf="tableMode; else create" class="table table-striped">
    <thead>
        <tr>
            <td>Название файла</td>
            <td></td>
            <td>Статус</td>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let f of files">
                <td>{{f?.fileNames}}</td>
                <td>
                    <button class="btn btn-sm btn-primary" (click)="saveinDb(f)"
                    [disabled]="f.isLoaded">Загрузить</button>
                </td>
                <td>{{f?.status}}</td>              
        </tr>
    </tbody>
</table>
 
